.Window.SearchProduct {

    .top-window {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 2.2rem;
            cursor: pointer;
        }
    }

    .content-window {
        /* background-color: red; */
        border-radius: 7px;
        display: flex;
        flex-direction: row;
        max-width: 49rem;

        button {
            background-color: var(--color-secundary);
            color: var(--color-w);

            padding: 0 1rem;
            border-radius: 7px;
            line-height: 0;
        }
        input {
            padding: .7rem;
            border-radius: 7px;
            width: 100%;
            max-width: 520px;
        }
    }

}