.UserContent {
    /* border: 3px solid red; */
    gap: 1.5rem;
    
    .action {
        background: #eae1f2;
        background: linear-gradient(0deg, #eae1f2 0%, #eae1f2d5 92%);
        box-shadow: 0 0 10px 5px var(--color-bg-1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        position: sticky;
        bottom: 0;

        margin: 0 calc(-1 * var(--p-lateral));
        padding: 0.5rem var(--p-lateral) 1rem;

        place-items: center;


        .btn {
            background-color: var(--color-tertiary);
            max-width: 60%;
            box-shadow: .2rem .2rem var(--color-border);

            font-size: 1.8rem;
        }
    }
}