.Page.Forms {
    border: 3px solid blue;
    height: 100dvh;
    overflow: auto;
}

.PageContent.FormsContent {
    /* background-color: rgba(255, 255, 0, 0.164); */
    gap: 2.5rem;
    
    &:has(.btns_container) {
        padding-bottom: 10rem;
    }


    .content_main {

        .form {
            /* border: 2px solid red; */
            display: flex;
            flex-direction: column;
            gap: 3rem;


            .label--input {
                /* background-color: red; */

                .btns_radio_container {
                    display: flex;
                    gap: .5rem;

                    .btn_radio {
                        flex: 1;
                    }
                }
                .btns_radio_container.habits {
                    /* background-color: red; */
                    flex-wrap: wrap;
                    gap: 1rem .7rem;

                    .btn_radio {
                        flex: none;
                    }
                }
            }
            .label--input.habits {
                > label {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .show_more {
                margin-top: 1rem;
                background-color: transparent;
                font-weight: 600;
                text-transform: uppercase;
            }

            .photo {
                /* border: 2px solid red; */
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .7rem;
                /* text-align: center; */

                p {

                    > span {
                        font-weight: 700;
                    }
                }

                .input_photo {
                    background-color: var(--color-bg-2);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    position: relative;
                    max-width: 18rem;

                    border: .2rem solid var(--color-border);
                    border-radius: 20px;
                    box-shadow: .1rem .1rem var(--color-border);
                    cursor: pointer;

                    img {
                        border-radius: 18px;
                        max-width: 100%;
                        opacity: 0.6;
                        mix-blend-mode: darken;
                    }
                    .preview {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        mix-blend-mode: normal;
                        object-fit: cover;
                    }
                    i {
                        position: absolute;
                    }
                }
                
                .inputs_container {
                    /* background-color: aquamarine; */
                    display: flex;
                    gap: 1.3rem;
                }
            }


            .btns_container {
                background: #eae1f2;
	            background: linear-gradient(0deg, #eae1f2 46%, #eae1f2be 80%, #eae1f265 100%);
                padding: 1rem 2rem;
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;

                .btn {
                    max-width: 520px;
                }
            }
        }
        
    }


    
    /* Excessoes de estilos */
    .feedback_content {
        /* background-color: aqua; */
        transform: translateY(-4rem);
    }
}