.InputPassword {
    /* border: 1px solid red; */
    position: relative;
    line-height: 0;

    display: flex;
    align-items: center;


    > input {
        width: 100%;
        padding-right: 2.2rem;
    }
    .eye {
        position: absolute;
        right: 1rem;
        line-height: 0;

        label {
            input {
                display: none;
            }
            
            /* line-height: 0; */
            font-size: 2.2rem;
        }
    }


    &:not(:has([data-error='null'])) {
        input {
            border: 0.2rem solid var(--color-danger);
        }
    }
}