/* @import "@radix-ui/colors/black-alpha.css"; */
/* @import "@radix-ui/colors/violet.css"; */

.ActionsBottom {
	border: 2px solid aqua;	
	background: #eae1f2;
	background: linear-gradient(0deg, #eae1f2 46%, #eae1f2be 80%, #eae1f265 100%);

	display: flex;
	justify-content: center;
	gap: 2rem;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	padding: 1rem 15px 3.5rem;

	.btn {
		user-select: none; /* Impede a seleção do texto */
		/* flex: 1; */
		max-width: 100%;
	}
}