/* @import "@radix-ui/colors/black-alpha.css"; */
/* @import "@radix-ui/colors/violet.css"; */

.ActionsBottom {
	border: 2px solid aqua;	
	background: rgb(234,225,242);
	background: linear-gradient(0deg, rgba(234,225,242,1) 46%, rgba(234,225,242,0.7455357142857143) 80%, rgba(234,225,242,0.3981967787114846) 100%);

	display: flex;
	justify-content: center;
	gap: 2rem;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	padding: 1rem 15px 3.5rem;

	.btn {
		user-select: none; /* Impede a seleção do texto */
		/* flex: 1; */
		max-width: 100%;
	}
}