.UpdateCategory {
    /* padding: 2rem 1.5rem; */

    display: flex;
    flex-direction: column;
    gap: 2rem;
    &.grid {
        min-width: fit-content;
        max-width: 520px;
    }

    .content-window {

        .checkbox-group {
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
}