.PageContent.RegisterContent {
    /* background-color: antiquewhite; */
    padding: 4rem;
    gap: 2.5rem;

    .content_main {
        
        .form {
            /* background-color: aqua; */
            display: flex;
            flex-direction: column;
            gap: 1.8rem;

            .label--input label[for='nascimento'] {
                margin-bottom: -0.5rem;
            }
        }
    }

    a {
        text-align: center;
    }
    


    .btn {
        max-width: 100%;
    }

    /* Tratamento de erros */
    .label--input {

        &:not(:has([data-error='null'])) {
            input {
                border: 0.2rem solid var(--color-danger);
            }
        }
    }
}