.RegisterContent {
    background-color: antiquewhite;



    .content_main {
        
        .form {
            /* background-color: aqua; */
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    

    /* Tratamento de erros */
    .label--input {

        &:not(:has([data-error='null'])) {
            input {
                border: 0.2rem solid var(--color-danger);
            }
        }
    }
}